body{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzLXeaxKgOeysJz0H1IFgNp3e-3udNQDaUHQ&usqp=CAU");
    height: 500px;
    background-color: #66707f;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    text-align: center;
}
form{
    width: 400px;
    margin: 20px auto;
}
div{
    margin-bottom: 15px;
}
input[type="text"]{
       width: 300px;
       font-size: 15px;
       padding: 1opx 20px;
       border: 3px solid #222;
       background-color: azure;
}
input:checked{
    height: 50px;
    width: 50px;
    display: block;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
}
input[type="submit"]{
    width: 100;
    background-color: #006400;
    border: none;
    color: white;
    padding: 10px 8px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}